<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>气泡卡片</title>
    <link rel="stylesheet" href="index.css">
  </head>

  <body>
    <div class="top">
      <div class="shape" pos="topLeft">Hover Me</div>
      <div class="shape" pos="top">Hover Me</div>
      <div class="shape" pos="topRight">Hover Me</div>
    </div>
    <div class="left-right-top">
      <div class="shape" pos="leftTop">Hover Me</div>
      <div class="shape" pos="rightTop">Hover Me</div>
    </div>
    <div class="left-right-center">
      <div class="shape" pos="left">Hover Me</div>
      <div class="shape" pos="right">Hover Me</div>
    </div>
    <div class="left-right-bottom">
      <div class="shape" pos="leftBottom">Hover Me</div>
      <div class="shape" pos="rightBottom">Hover Me</div>
    </div>
    <div class="bottom">
      <div class="shape" pos="bottomLeft">Hover Me</div>
      <div class="shape" pos="bottom">Hover Me</div>
      <div class="shape" pos="bottomRight">Hover Me</div>
    </div>
    <div class="tiger-popover-wrapper">
      <div class="tiger-popover">
        <div class="tiger-popover-content">
          <div class="tiger-popover-arrow"><span class="tiger-popover-arrow-content"></span></div>
          <div class="tiger-popover-inner" role="tooltip">
            <div class="tiger-popover-title">Title</div>
            <div class="tiger-popover-inner-content">
              <p>Content</p>
              <p>Content</p>
              <p>Content</p>
              <p>Content</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./index.js"></script>
  </body>

</html>